/deepseek-7b
/IFLYTEK_ASR-main
figure
audio_channels_report.csv
asr/__pycache__
data/segments
data/transcriptions
data/label_all.csv
asr/config.py
data/features_cache
test_data/segments/
utils/__pycache__
test_data/audio_data.pt
trick
asr
utils/run.py
data
qwen2_5_omni_light/__pycache__
doc/
