accelerate==1.5.2
config==0.5.1
librosa==0.11.0
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
peft==0.15.1
pydub==0.25.1
qwen_omni_utils==0.0.4
Requests==2.32.3
scikit_learn==1.6.1
torch==2.6.0+cu126
tqdm==4.67.1
transformers==4.50.3
typing_extensions==4.14.0
